.box {
    padding: 30px;
    margin: 25px;
    background-color: #5fd4fa;
    border-radius: 8px;
}

.grow-box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transition: width 3s;
    -webkit-transition: width 3s;
    display: block;
    float: left;
}

.grow-box:hover{
    width: 500px;
}

.height-box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(72, 219, 84);
    transition: height 3s;
    -webkit-transition: height 3s;
    display: block;
    float: left;
}

.height-box:hover{
    height: 500px;
}