@keyframes fly {
    0%  {left: 0px; top: 0px;}
    25% {left: 20%; top: 0px;}
    50% {left: 30%; top: 0px;}
    75% {left: 75%; top: 0px;}
    100% {left: 100%; top: 0px;}
}

@keyframes slide {
    0%  {left: 0px; top: 0px;}
    25% {left: 20%; top: 0px;}
    50% {left: 30%; top: 0px;}
    75% {left: 75%; top: 0px;}
    100% {left: 100%; top: 0px;}
}

@keyframes pluse {
    0%  {box-shadow: violet 0px 0px 0px;}
    25%  {box-shadow: violet 0px 0px 20px;}
    50%  {box-shadow: violet 0px 0px 0px;}
    75%  {box-shadow: violet 0px 0px 30px;}
    100%  {box-shadow: violet 0px 0px 0px;}
}

@keyframes jump {
    0% {top: 300px;}
    50% {top: 0px;}
    100% {top: 300px;}
}

.box {
    padding: 30px;
    margin: 25px;
    background-color: #5fd4fa;
    border-radius: 8px;
}

.grow-box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    transition: width 3s;
    -webkit-transition: width 3s;
    display: block;
    float: left;
}

.grow-box:hover{
    width: 500px;
}

.height-box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(72, 219, 84);
    transition: height 3s;
    -webkit-transition: height 3s;
    display: block;
    float: left;
}

.height-box:hover{
    height: 500px;
}

.pic-box{
    margin: 20px;
    width: 200px;
    height: 200px;
    background-image: url("/CIT261/img/taypics.jpg");
    background-position: center;
    transition: height 3s, width 5s;
    -webkit-transition: height 3s, width 5s;
    display: block;
    float: left;
}

.pic-box:hover{
    height: 400px;
    width: 400px;
}

.fly-box {
    width: 100px;
    height: 75px;
    position: relative;
    background-color: lightblue;
    animation-name: fly;
    animation-duration: 8s;
}

.slide-box {
    width: 100px;
    height: 75px;
    position: relative;
    background-color: lightblue;
    animation-name: slide;
    animation-duration: 8s;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}


.pluse-box {
    width: 204px;
    height: 50px;
    margin: 50px;
    text-align: center;
    padding: 7px;
    border-radius: 15px;
    position: relative;
    background-color: teal;
    animation-name: pluse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.jump-box {
    width: 200px;
    height: 200px;
    margin: 50px;
    text-align: center;
    padding: 7px;
    border-radius: 15px;
    position: relative;
    background-image: url("/CIT261/img/jumping-icon-18.jpg");
    animation-name: jump;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#growing {
    transition: font-size 3s, color 2s;
  }

#jumping {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    transition: left 5s cubic-bezier(.5, -1, .5, 2);
    }

    li.listitems {

        list-style: none;
        padding: 5px;
        width: 300px;
        background-color: #c7c6c6;
        margin: 5px;
        animation-name: flip;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;

    }

    li:hover {
        text-decoration: line-through;
    }


    li.cross {
        text-decoration: line-through;
        background-color: #de3b3b9e;
        transition: 2s;
    }

    .background {
        padding: 20px; 
        background-color: #4CAF50;
    }


    @keyframes flip{
        0%,80%{
            transform: rotateX(360deg);
        }
    }